<div class="smallForm" *ngIf="!show">
  <form [formGroup]="profileForm">
    <mat-form-field class="example-full-width">
      <mat-label>Subscription_No</mat-label>
      <input matInput id="Subscription_No" formControlName="Subscription_No" />
    </mat-form-field>

    <button mat-button class="submit" (click)="submit()">Submit</button>
  </form>
</div>

<div class="container">
  <div
    class="bigForm"
    *ngIf="show"
    class="row justify-content-center align-items-center mt-4 mb-5"
  >
    <div class="col-lg-4 col-md-4 col-sm-12">
      <img src="../../../assets/Images/Email capture.gif" class="image img-fluid" />
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12 form">
      <form
        [formGroup]="testform"
        class="real pt-3"
        *ngIf="formData"
        (ngSubmit)="updateUser(testform)"
      >
        <mat-form-field>
          <mat-label>Id</mat-label>
          <input readonly
            matInput
            name="id"
            formControlName="id"
            value="{{ formData.id }}"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>subscriberCode</mat-label>
          <input 
            matInput
            name="subscriberCode"
            formControlName="subscriberCode"
            value="{{ formData.subscriberCode }}"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-select
            placeholder="Select your option"
            formControlName="realStateType"
            (selectionChange)="onChange($event)"
          >
            <mat-option
              *ngFor="let option of realState"
              [value]="option.id"
          
            >
              {{ option.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
       <br>
        <mat-radio-group aria-label="Select an option"  formControlName="subscriberCode" (change)="check($event)" >
          <mat-label>Is There Sanitation</mat-label>
          <mat-radio-button value="True" [checked]="formData.isThereSanitation" >Yes</mat-radio-button>
          <mat-radio-button value="False" [checked]="!formData.isThereSanitation">No</mat-radio-button>
        </mat-radio-group>
        <br>
        <mat-form-field>
          <mat-label>unitNo</mat-label>
          <input
            matInput
            name="unitNo"
            formControlName="unitNo"
            value="{{ formData.unitNo }}"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>lastReading</mat-label>
          <input
            matInput
            name="lastReading"
            formControlName="lastReading"
            value="{{ formData.lastReading }}"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Notes</mat-label>
          <textarea
            matInput
            name="notes"
            formControlName="notes"
            value="{{ formData.notes }}"
          ></textarea>
        </mat-form-field>
        <button type="submit" name="submit" class="btn submit">Submit</button>
      </form>
    </div>
  </div>
</div>
